/* *{
    padding: 0;
    margin: 0;
}
#navbar{
    height: 60px;
    background-color: black;
}
#one{
    color: brown;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}
#two{
    color: white;
    text-decoration: none;
    
}

#three{
    color: white;
    text-decoration:none;
}
#four{
    color: white;
    text-decoration: none;
}
button{
    color: orange;
}
a{
    margin-right: 200px;

}
input {
    font-size: large;
/* } */
/* #two{
    font-size: 100px;
     text-transform: capitalize;
     text-decoration: line-through;
    border: 2xp solid black;
}
#one{
    font-size: 3em;
    color: rgba(35, 35, 30, 0.6);
    font-style:initial;
    text-transform:capitalize;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
    border: 2xp solid black;
} */ 
/* #two{
    height: 100px;
    width: 80px;
    background-color: bisque;
    font-size: 2px;
}
#one{
   height: 50px;
   width: 30%;
   background-color: blue;
   font-size: 1em;
   width: 2rem;
} */
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display:inline-flex;
}
#boxtwo{
    position: relative;
    top: 10px;
}
#boxfour{
    position: absolute;
    top: 30px;
    left: 10px;
    right: 30px;
    bottom: 50px;
}