*{
    padding: 0;
    margin: 0;
}
#navbar{
    height: 60px;
    background-color: black;
}
#one{
    color: brown;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}
#two{
    color: white;
    text-decoration: none;
    
}

#three{
    color: white;
    text-decoration:none;
}
#four{
    color: white;
    text-decoration: none;
}
button{
    color: orange;
}
a{
    margin-right: 200px;

}
input {
    font-size: large;
}

.contedbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display:inline-block;
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: rgb(99, 94, 94);
    text-align: center;
}
#conted{
    height: 700px;
}